
<h1>This page is <a href="editor">editable</a></h1>

<%=	rich 'full' do %>
  Rich text goes here.
<% end %>

<br/>

<%=	plain 'page' do %>
  Plain text goes here
<% end %>

<br/>

<%=	markdown 'markdown' do %>
  Markdown goes here
<% end %>

<br/>

<%=	snippet 'snippet' do %>
  Snippets go here
<% end %>

<br/>

<%=	image 'image' do %>
  Images go here
<% end %>
